{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- section-header.// -->
<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 2 ================================= -->

        <div class="row">
            <main class="col-md-8">

                <article class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Review cart</h4>
                        <div class="row">
                            {% for cart_item in cart_items %}
                            <div class="col-md-6">
                                <figure class="itemside  mb-4">
                                    <div class="aside"><img src="{{cart_item.product.image.url}}" class="border img-sm">
                                    </div>
                                    <figcaption class="info">
                                        <p>{{cart_item.product.name}} </p>
                                        <span class="text-muted">{{cart_item.quantity}}x =
                                            ${{cart_item.sub_total}}</span>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                            {% endfor %}
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->


                <!-- accordion end.// -->

            </main> <!-- col.// -->
            <aside class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">${{total}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right"> ${{tax}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Grand Total:</dt>
                            <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Name:</dt>
                            <dd class="text-right text-dark b"><strong>{{order.full_name}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Address:</dt>
                            <dd class="text-right text-dark b"><strong> {{order.city}}
                                    , {{order.state}} , {{order.country}} , {{order.full_address}} </strong></dd>
                        </dl>
                        {% if order.order_note %}
                        <dl class="dlist-align">
                            <dt>Order Note:</dt>
                            <dd class="text-right text-dark b"><strong> {{order.order_note}}</strong></dd>
                        </dl>
                        {% else %}
                        {% endif %}
                        <hr>
                        <dl class="dlist-align">
                            <dt>Pqyment Method:</dt>
                            <dd class="text-right text-dark b"><strong>PayPal</strong></dd>
                        </dl>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png'%}" height="26">
                        </p>
                        <a href="{% url 'store:store'%}" class="btn btn-light btn-block">Continue Shopping</a><br>
                        <div id="paypal-button-container"></div>


                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside>

        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 2 END//  ================================= -->




    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
<script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/create/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    return orderData.id;
                });
            },

            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    // Three cases to handle:
                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    //   (2) Other non-recoverable errors -> Show a failure message
                    //   (3) Successful transaction -> Show confirmation or thank you

                    // This example reads a v2/checkout/orders capture response, propagated from the server
                    // You could use a different API or structure for your 'orderData'
                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart(); // Recoverable state, per:
                        // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                    }

                    if (errorDetail) {
                        var msg = 'Sorry, your transaction could not be processed.';
                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                        return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                    }

                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }

        }).render('#paypal-button-container');
    </script>
{% endblock body %}